@{
    ViewBag.Title = "Xác thực thành công";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Cảm ơn bạn đã đăng ký. Bạn có thể @Html.ActionLink("Click vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
