@{
    ViewBag.Title = "Xác thực quên mật khẩu";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Bạn vui lòng kiểm tra email của bạn đã đăng ký trên hệ thống để lấy lại mật khẩu
    </p>
</div>
	
