@{
    ViewBag.Title = "Xác thực quên mật khẩu";
}

<div class="container body-content">

    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Bạn vui lòng kiểm tra email của bạn đã đăng ký trên hệ thống để lấy lại mật khẩu
        </p>
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>
