@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Lấy lại mật khẩu thành công. Bạn vui lòng @Html.ActionLink("nhấn vào đây để đăng nhập lại", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
