@model CiOneElearning.Models.IndexViewModel
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/LayOut/_HomeLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h1 class="text-center">Thông tin tài khoản</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mật khẩu:</dt>
        <dd>
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            
        </dd>
       
    </dl>
</div>
