@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Tạm khóa tài khoản";
}

<hgroup>
    <h1 class="text-danger text-center">Tài khoản bị tạm khóa do bạn đăng nhập quá số lần cho phép</h1>
    <h2 class="text-danger text-center">Sau 3 phút bạn hãy thử đăng nhập lại!</h2>
</hgroup>
